* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px #2b2a2a;
  }
  
  .choice:hover { 
    cursor:pointer;
    /* box-shadow:20px, #081b31; */
    /* background-color: #09f344; */
  }
  
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  img:hover{
    border-radius: 50%;
  box-shadow: 5px 10px 80px #f80303;
  }
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 30px #020202;
  }